//Form Design Start

@keyframes submitHoverStart {
  from {
    font-size: medium;
    border: 2px solid white;
  }
  to {
    border: 2px solid rgb(4, 255, 0);
    font-size: larger;
  }
}
@keyframes submitHoverEnd {
  from {
    font-size: larger;
    border: 2px solid rgb(4, 255, 0);
  }
  to {
    border: 2px solid white;
    font-size: medium;
  }
}

//Done
.submitButton {
  border: 2px solid rgb(255, 255, 255) !important;
  border-radius: 0.5em;
  background-color: black !important;
  color: white !important;
  font-weight: 700 !important;
  animation: submitHoverEnd 0.5s;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

//Done
.submitButton:hover {
  color: aqua !important;
  cursor: pointer;
  transform: rotate(-1deg) !important;
  font-size: larger;
  border: 1px solid rgb(4, 255, 0) !important;
  animation: submitHoverStart 0.5s;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.formTitle {
  font-weight: 700;
  font-size: x-large;
  background-color: var(--formBackground);

  border-radius: 0.3em !important;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.errorHandlerDesign {
  color: red;
  padding: 0.4em 0em;
  font-size: small;
}

//Form Design Ends
