@keyframes buttonHoverStart {
  from {
    font-size: larger;
  }
  to {
    font-size: x-large;
  }
}
@keyframes buttonHoverBack {
  from {
    font-size: x-large;
  }
  to {
    font-size: larger;
  }
}

.welcomeViewBox {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.welcomePrettierBars {
  height: 10vh;
  width: 100vw;
  background-color: black;
}
.welcomePrettierBars2 {
  height: 3vh;
  width: 80vw;
  background-color: rgb(255, 115, 0);
  border: 1px solid white;
  border-radius: 2px;
}

.welcomeMainBox {
  border-top: 1px rgba(255, 255, 255, 0) solid;
  border-bottom: 1px rgba(255, 255, 255, 0) solid;
  width: 80vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 1px rgb(255, 255, 255) solid;
  border-left: 1px rgb(255, 255, 255) solid;
  background-color: black;
}

.welcomeTitle {
  font-size: xx-large;
  color: #ffffff;
  font-weight: 900;
  box-shadow: 5px 5px;
  border-radius: 10px;
}

.welcomeButton {
  color: #adb7bd;
  margin-top: 5vh;
  border-bottom: 2px rgb(255, 115, 0) solid;
  font-size: larger;
  font-weight: 500;
  animation: buttonHoverBack 0.5s;
}

.welcomeButton:hover {
  color: white;
  font-size: x-large;
  cursor: pointer;
  transform: rotate(1deg);
  animation: buttonHoverStart 0.5s;
}
