@keyframes optionHoverStart {
  from {
    color: white;
  }
  to {
    color: red;
  }
}
@keyframes optionHoverEnd {
  from {
    color: red;
  }
  to {
    color: white;
  }
}

.homeViewBox {
  background-color: black;
}

.homeTitle {
  font-size: xx-large;
  font-weight: 900;
  color: white;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.optionDesign {
  background-color: black !important;

  cursor: pointer;
  animation: optionHoverEnd 0.5s;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.optionDesign:hover {
  color: red;
  animation: optionHoverStart 0.5s;
  background-color: black;
}
